<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happycharlie">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:background="@drawable/background"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".menu_emergente_fuente"
            android:label="@string/title_activity_menuemergentefuentes"
            android:theme="@style/AppTheme.TemaPopup"
            ></activity>
        <activity
            android:name=".menu_emergente_colores"
            android:label="@string/title_activity_menuemergentecolores"
            android:theme="@style/AppTheme.TemaPopup" />
        <activity
            android:name=".menu_emergente_fondos"
            android:label="@string/title_activity_menuemergentefondo"
            android:theme="@style/AppTheme.TemaPopup" />
        <activity
            android:name=".Pantalla_Reproductor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopupTemporizador"
            android:label="@string/title_activity_popupTempo"
            android:theme="@style/AppTheme.TemaPopup" />
        <activity
            android:name=".repMeditacion"
            android:label="@string/title_activity_rep_meditacion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".configuracion"
            android:label="@string/title_activity_configuracion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calculadora"
            android:label="@string/title_activity_calculadora"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalculadoraResultados1"
            android:label="CalculadoraResultados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PonerHora1"
            android:label="PonerHora"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".meditacion"
            android:label="@string/title_activity_meditacion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".musica"
            android:label="@string/title_activity_musica"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ruido"
            android:label="@string/title_activity_ruido"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".animo"
            android:label="@string/title_activity_animo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lobby"
            android:label="@string/title_activity_lobby"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".inicio"
            android:label="Inicio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PonerHora2" />

        <service android:name=".AudioService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>